curl -sL https://deb.nodesource.com/setup_20.x -o nodesource_setup.sh
sudo bash nodesource_setup.sh
sudo apt install nodejs -y
sudo apt install npm -y
npm install express
npm install swagger-ui-express swagger-jsdoc
npm install express-validator
npm install jsonwebtoken bcryptjs